.App {
  text-align: center;
  background-color: '';
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.file{
  display: flex;
}
.content {
  flex: 1 0 auto;
}
.footer {
}
