.App {
  text-align: center;
  /* background-color: #f9f7f1; */
}
.container {
  /* min-height: 100vh ; */
  display: flex;
  flex-direction: column;
}
.file {
  display: flex;
}
.content {
  flex: 1 0 auto;
}
.footer {
}
input {
  display: none;
}
button {
  width: calc(100vw / 9);
  height: 3rem;
}
#content1 {
  min-height: 20vh;
  height:20vh;
  font-size: 1.9rem;
  overflow: hidden;
  text-overflow:ellipsis;

}
#content2 {
  min-height: 20vh;
  line-height: 5vh;
  height:20vh;
  font-size: 1.9rem;
  overflow: hidden;
  text-overflow:ellipsis;
}
#translate {
  font-size: 1.9rem;
}
.hr-twill {
  border: 0;
  padding: 3px;
  background: repeating-linear-gradient(135deg, #a2a9b6 0px, #a2a9b6 1px, transparent 1px, transparent 6px);
}
.hr-edge-weak {
  border: 0;
  padding-top: 1px;
  background: linear-gradient(to right, transparent, #d0d0d5, transparent);
}
