.App {
  text-align: center;
  /* background-color: #f9f7f1; */
}
.container {
  /* min-height: 100vh ; */
  display: flex;
  flex-direction: column;
}
.file {
  display: flex;
}
.content {
  flex: 1 0 auto;
}
.footer {
}
input {
  display: none;
}
button{
  width:25vh;
  height: 15vh;
}
